.snow{
   background-image:
           url(snow_b.png), 
           url(snow_b1.png), 
           url(snow_b2.png);
   width: 100%;
   height:100%;
   position: absoulute;
   top: 0;
   left: 0;
   z-index:1;
   animation: snow 20s linear infinite;
}
@keyframes snow {
    from {background-position: 0px 0px, 0px 0px, 0px 0px;}
    to {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
