php_flag register_globals on

php_value date.timezone "Europe/Moscow"

AddDefaultCharset utf-8

<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>
AddCharset utf-8 .js
AddCharset utf-8 .js

<Files "internal_server_update_g635950.php">
Order Allow,Deny
Deny from all
</Files>