body {background: F2F6F6;color: #425153;font-family:Verdana;margin-top: 5;}
td,div,layer {text-decoration:none; font-size:12;font-family:Verdana}
.vote {text-decoration:none; font-size:11;font-family:Verdana}
.ans {color:7C6A6A;text-decoration:none; font-size:11;font-family:Verdana}
.small {text-decoration:none; font-size:11;font-family:425153}
.ssmall {text-decoration:none; font-size:11;font-family:425153}
.t {text-decoration:none; font-size:13px;color:#5B636B; font-weight: bold; font-family : Arial, sans-serif;padding-left: 8px; }
.t2 {text-decoration:none; font-size:11px;color:#5B636B; font-weight: bold; font-family : Arial, sans-serif;padding-left: 8px; }
A.menu:LINK {text-decoration:none;color:#425153;font-weight:bold; font-size:11; } 
A.menu:ACTIVE {text-decoration:none;color:#425153;font-weight:bold; font-size:11;} 
A.menu:VISITED {text-decoration:none;color:#425153;font-weight:bold; font-size:11;} 
A.menu::HOVER {text-decoration:none; color:#607A78;; font-size:11;}
A.menus:LINK {text-decoration:none;color:#425153;font-weight:bold; font-size:10; } 
A.menus:ACTIVE {text-decoration:none;color:#425153;font-weight:bold; font-size:10;} 
A.menus:VISITED {text-decoration:none;color:#425153;font-weight:bold; font-size:10;} 
A.menus::HOVER {text-decoration:none; color:#607A78;; font-size:10;}

A.menusmall:LINK {text-decoration:none;color:#425153; font-size:10; } 
A.menusmall:ACTIVE {text-decoration:none;color:#425153; font-size:10;} 
A.menusmall:VISITED {text-decoration:none;color:#425153; font-size:10;} 
A.menusmall::HOVER {text-decoration:none; color:#607A78;; font-size:10;}
A:LINK {text-decoration:none;color:#748D91;} 
A:ACTIVE {text-decoration:none;color:#748D91;} 
A:VISITED {text-decoration:none;color:#748D91;} 
A:HOVER {text-decoration:none; color:#607A78;}

.blue {background: #8898AF;}
td.bluetop {height: 22; background:C2D0DD; background: url(maingame/pic/mbar.gif);}
td.gal {height: 20;width:22;text-align : center;}
td.gal2 {height: 20;width:22;text-align : center; background:C2D0DD; background: url(maingame/pic/mbar.gif);}
td.mainb { background:F6FAFF;}

input,Textarea,select {background:#EDF1F1;text-decoration:none; font-size:11;;font-family:Verdana;border: solid 1pt #333333; color: #000000; MARGIN-BOTTOM: 2px; MARGIN-TOP: 1px;}
.votearea {background:E7EFE7;text-decoration:none; font-size:11;;font-family:Verdana;border: solid 0pt #333333; color: #000000; MARGIN-BOTTOM: 2px; MARGIN-TOP: 1px;}
.bgarea {background:F2F6F6;text-decoration:none; font-size:11;;font-family:Verdana;border: solid 0pt #333333; color: #000000; MARGIN-BOTTOM: 2px; MARGIN-TOP: 1px;}
.butt {background:A7BEC2;text-decoration:none; font-size:11;;font-family:Verdana;border: solid 1pt #3EDF1F1; color: #425153; MARGIN-BOTTOM: 2px; MARGIN-TOP: 1px;}
img {border:1;}